.navbar {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 10px 0;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar li:last-child {
    margin-right: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #FF9800;
  }